In [44]:
# 1. Print Hello, World!
def hello_world():
    print("Hello, World!")
    # just prints the message

In [45]:
# 2. Greet a person
def greet(name):
    print("Hello,", name)
    # says hello to the name

In [46]:
# 3. Square of a number
def square(num):
    return num * num
    # To multiply the number by itself

In [47]:
# 4. Sum of two numbers
def add(a, b):
    return a + b
    # To add both numbers

In [48]:
# 5. Maximum of two numbers
def maximum(a, b):
    return a if a > b else b  # return the bigger one

In [49]:
# 6. Check even or odd
def even_or_odd(num):
    return "Even" if num % 2 == 0 else "Odd"  # check remainder

In [50]:
# 7. Length of a string
def string_length(text):
    return len(text)  # count characters

In [51]:
# 8. Celsius to Fahrenheit
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32  # convert temperature

In [52]:

# 9. Average of numbers
def average(numbers):
    return sum(numbers) / len(numbers)  # total divided by count

In [53]:

# 10. Count vowels
def count_vowels(text):
    vowels = "aeiou"
    return sum(1 for ch in text.lower() if ch in vowels)  # count vowels

In [54]:
# 11. Unique values in list
def unique_list(lst):
    return list(set(lst))  # To remove duplicates

In [55]:

# 12. Check palindrome
def is_palindrome(word):
    return word == word[::-1]  # compare with reverse

In [56]:
# 13. Simple interest
def simple_interest(p, r, t):
    return (p * r * t) / 100  # basic formula

In [57]:
# 14. Tax with default rate
def calculate_tax(amount, rate=0.1):
    return amount * rate  # apply tax

In [58]:
# 15. Factorial
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i  # multiply step by step
    return result

In [59]:
# 16. Sum of any numbers
def sum_all(*nums):
    return sum(nums)  # add everything

In [60]:
# 17. Minimum in list
def minimum_value(lst):
    return min(lst)  # smallest number

In [61]:
# 18. Minutes to hours and minutes
def convert_minutes(minutes):
    return minutes // 60, minutes % 60  # split time

In [62]:
# 19. Welcome user
def welcome_user(username):
    print("Welcome,", username)  # friendly message

In [63]:
# 20. Area of rectangle
def rectangle_area(length, width):
    return length * width  # area formula

In [64]:
# 21. Largest number in list
def largest_number(lst):
    return max(lst)  # biggest value

In [65]:
# 22. Positive, negative or zero
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

In [66]:
# 23. Reverse a string
def reverse_string(text):
    return text[::-1]  # reverse text

In [67]:
# 24. Power of a number
def power(base, exp):
    return base ** exp  # raise to power

In [68]:
# 25. Grade from score
def get_grade(score):
    if score >= 70:
        return "A"
    elif score >= 60:
        return "B"
    elif score >= 50:
        return "C"
    else:
        return "F"

In [69]:

# 26. Count words
def word_count(sentence):
    return len(sentence.split())  # to split by space

In [70]:
# 27. Check prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False  # not prime
    return True

In [71]:
# 27. Check prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False  # not prime
    return True

In [72]:
# 29. Apply discount
def apply_discount(prices, discount=0.1):
    return [p - (p * discount) for p in prices]  #  To reduce price

In [73]:
# 30. Full name formatter
def full_name(first, last):
    return first + " " + last # to join text